#hidden-front, #hidden-back, #hidden-stack, #lang-survey, #hidden-answers, #lang-answer, #plural, #end-message {
  display: none;
}

h1{
  text-shadow: 0px 4px white;
  color:#ffc107;
  text-align: center;

}
h2, #f-lang{
  text-align: center;
}

h3{
  font-size: 1em;
  margin: 10px;
}

body{
  background-color: #fcfcfc;
  color: grey;
  margin-bottom: 50px;
}

p {
  text-shadow: 0px 1px white;
  margin-top: 25px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.btn{
  margin-top: 10px;
}

.btn-light {
  color: grey;
}

.btn-light:hover {
  color: grey;
}

.jumbotron {
  margin: 50px;
  padding-top: 36px;
  padding-bottom: 32px;
}

#consider {
  margin-top: 50px;
}
