.box-container {
  display: block;
}

#hidden-f, #hidden-b, #hidden-s, #lang-survey, #lang-answer, #c, #java, #php, #ruby, #plural {
  display: none;
}
.btn{
  margin-top: 10px;
}


h1{
  margin: 50px;
  text-align: center;
}

h3{
  font-size: 1em;
  margin: 10px;
}

body{
  color: grey;
  margin-bottom: 50px;
}

p {
  margin-top: 25px;
}

.btn-light {
  color: grey;

}

.btn-light:hover {
  color: grey;

}
